<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            发表作品
        </ion-title>
        <ion-buttons end (click)="edit()">
            <button ion-button icon-only>
        <ion-icon name="reorder"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <img id="banner" [src]="banner" (click)="presentActionSheet(-1);" />
    </ion-card>
    <ion-list>

        <ion-item>
            <ion-label floating>菜名</ion-label>
            <ion-input type="text" [(ngModel)]="title"></ion-input>
        </ion-item>

    </ion-list>

    <textarea id="textarea" [(ngModel)]="text" maxlength="80" placeholder="分享心得,最多80个字符...（选填）"></textarea>
    <br/>
    <br/>
    <ion-list-header>食材：</ion-list-header>
    <ion-grid>
        <ion-row *ngFor="let food of foods; let i=index">
            <ion-col width-50>
                <ion-item>
                    <ion-input type="text" placeholder="食材：如鸡蛋" [(ngModel)]="food.fname"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col width-50>
                <ion-item>
                    <ion-input type="text" placeholder="用量：如1只" [(ngModel)]="food.fnum"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>
    <br/>
    <button ion-button full color="light" (click)="addfood();">添加食材</button>
    <br/>
    <br/>
    <ion-list>
        <ion-list-header>作品步骤（点击右上角调整顺序，左滑删除）</ion-list-header>
        <ion-item-group [reorder]="isReordering" (ionItemReorder)="reorderItems($event)">

            <ion-item-sliding *ngFor="let item of items; let i=index">
                <ion-item>
                    <ion-thumbnail item-left>
                        <img (click)="addImg(i);" [src]="item.img">
                    </ion-thumbnail>

                    <p (click)="write(i);">{{i+1}}. {{item.write}}</p>

                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="primary" (click)="deleitem(i);">
                    <ion-icon name="text"></ion-icon>
                    删除步骤
                </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>

    <br/>
    <button ion-button full color="light" (click)="additem();">添加步骤</button>
    <br/>
    <ion-list>
        <ion-list-header>Tips：</ion-list-header>
    </ion-list>
    <textarea id="textarea" [(ngModel)]="text" maxlength="40" placeholder="提示,最多40个字符...（选填）"></textarea>
    <br/>
    <button ion-button full color="secondary" (click)="send();">发布作品</button>
    <br/>
    <br/>
    <br/>
    <br/>
</ion-content>