li { list-style: none;}
			.dv_clear:after { content: ' '; display: block; clear: both;}
			.dv_fl { float: left;}
			.dv_fr { float: right;}
			#dv_my_work { width: 100%; padding: 2%;}
			#dv_my_work textarea { border: 1px solid #f7f7f7; width: 100%; padding: 1%; height: 12rem; font-size: 1.4rem; line-height: 1.8rem; background: #fff; outline: none; resize: none;}
			#dv_my_work ul { width: 100%; padding-top: 1rem;}
			#dv_my_work li { margin: 0.2rem; width: 6rem; height: 6rem; float: left; background-size: cover;}
		