#page-home {}

.swiper-container {
    width: 100%;
    height: 210px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
}

#home_menu {
    width: 100%;
    display: flex;
    -webkit-display: flex;
    background: yellow;
}

.home_menu_list {
    flex: 1;
    -webkit-flex: 1;
}