<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            作品详情
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <section class="home_works">
        <div class="home_work_list">
            <div class="see-work-banner" [style.background]="'url('+banner+')'" (click)="pswpElementInit(0);"></div>

            <div class="home_work_cont">
                <div class="home_work_cont_left">
                    <p class="home_work_cont_left_title">{{datas.utitle}}</p>
                    <p>{{datas.utext}}</p>
                    <p>{{datas.utime | date:"yyyy-MM-dd"}}</p>
                </div>
                <div class="home_work_cont_right">
                    <img [src]="datas.uhead" />
                    <p>{{datas.uname}}</p>
                </div>
            </div>
        </div>

    </section>
    <ion-list-header>食材：</ion-list-header>
    <ion-grid>

        <ion-row *ngFor="let item of datas.ueat; let i=index">
            <ion-col width-70>
                <ion-item>
                    {{item.fname}}
                </ion-item>
            </ion-col>
            <ion-col width-30>
                <ion-item>
                    {{item.fnum}}
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>
    <br/>
    <br/>
    <br/>
    <ion-list-header>步骤：</ion-list-header>

    <ion-card *ngFor="let item of datas.uimg; let i=index">

        <!--<img (click)="pswpElementInit(i+1);" [src]="item.img" class='ishiden-{{item.ishasimg}}' />-->
        <div class='ishiden-{{item.ishasimg}} see-work-banner' [style.background]="'url('+item.img+')'" (click)="pswpElementInit(i+1);"></div>
        <ion-card-content>
            <ion-card-title>
                步骤 {{i+1}}
            </ion-card-title>
            <p>{{item.write}}</p>
        </ion-card-content>
    </ion-card>


    <br/>
    <ion-card>
        <ion-card-header>
            提示：
        </ion-card-header>
        <ion-card-content>
            {{datas.utip}}
        </ion-card-content>
    </ion-card>
    <br/>
    <br/>
    <ion-list-header>评论</ion-list-header>
    <ion-card *ngFor="let item of comment; let i=index">

        <ion-item>
            <ion-avatar item-left>
                <img [src]="item.uhead">
            </ion-avatar>
            <h2>{{item.uname}}</h2>

        </ion-item>

        <ion-card-content>
            <p class="comt_fork comt_fork_{{item.nid}}">回复 {{item.fname}} ：{{item.ftext}}</p>
            <p>{{item.utext}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small (click)="opencomment(item._id,i);">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>回复</div>
                    </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>举报</div>
                    </button>
            </ion-col>
            <ion-col center text-center>
                <ion-note>
                    {{item.utime | date:"yyyy-MM-dd"}}
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>


    <br/>
    <br/>
    <br/>
    <br/>

    <!--向上滑动-->
    <ion-fab right bottom edge #327eff>
        <button ion-fab><ion-icon name="arrow-dropup"></ion-icon></button>
    </ion-fab>
</ion-content>



<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>