page-seework {}

.ishiden-false {
    display: none;
}

.see-work-banner {
    width: 100%;
    height: 26rem;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}