page-toutiao {
    width: 100%;
    background: #fff;
}

#toutiao_wrap {
    width: 100%;
    padding: 2%;
    background: #fff;
}

.toutiao_title {
    font-size: 2.4rem;
}

.toutiao_ban {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
}

.toutiao_cont {
    width: 100%;
    font-size: 1.9rem;
    line-height: 3.5rem;
    padding-bottom: 4rem;
}