<ion-header>
    <ion-toolbar color="secondary">
        <ion-segment [(ngModel)]="pet" color="fff">
            <ion-segment-button (click)="totop();" value="new1">
                厨房问答
            </ion-segment-button>
            <ion-segment-button (click)="totop();" value="new2">
                厨房新作
            </ion-segment-button>
            <ion-segment-button (click)="totop();" value="new3">
                厨房心情
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="pet">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <section *ngSwitchCase="'new1'" id="qus_wrap">

        <div class="qus_list" *ngFor="let item of qusarr; let i=index" (click)="openqus(item._id);">
            <p class="qus_list_title">{{item.utitle}}？</p>
            <div class="qus_user_wrap">
                <img src="{{item.uhead==''?'assets/logo/logo.png':item.uhead}}" />
                <p>{{item.uname}}</p>
            </div>
            <p>{{item.uquestion}}</p>
            <p class="qus_btm_wrap">
                <span class="qus_hd">{{item.ucomment}}个回答</span>
                <span class="qus_time">{{item.utime | date:"yyyy-MM-dd"}}</span>
            </p>
        </div>

    </section>
    <section *ngSwitchCase="'new2'" class="home_works">

        <div class="home_work_list" *ngFor="let item of workarr; let i=index" (click)="openwork(item._id);">
            <div class="share-work-banner" [style.background]="'url('+item.ubanner.img+')'"></div>
            <!--<img [src]="item.ubanner.img" />-->
            <div class="home_work_cont">
                <div class="home_work_cont_left">
                    <p class="home_work_cont_left_title">{{item.utitle}}</p>
                    <p>{{item.utext}}</p>
                    <p>{{item.utime | date:"yyyy-MM-dd"}}</p>
                </div>
                <div class="home_work_cont_right">
                    <img src="{{item.uhead==''?'assets/logo/logo.png':item.uhead}}" />
                    <p>{{item.uname}}</p>
                </div>
            </div>
        </div>

    </section>
    <section *ngSwitchCase="'new3'" class="home_works home_works_hd">

        <div class="home_work_list" *ngFor="let item of chartarr; let i=index" (click)="openchart(item._id);">
            <div class="home_work_list_imgs">
                <div class="list_imgs" *ngFor="let imgs of item.uimg;">
                    <div class="share-chart-img-{{item.uimg.length}}" [style.background]="'url(http://7xp2ia.com1.z0.glb.clouddn.com/' +imgs.img + ')'"></div>
                </div>

            </div>
            <div class="home_work_cont">
                <div class="home_work_cont_left">
                    <p>{{item.utext}}</p>
                    <p>{{item.utime | date:"yyyy-MM-dd"}}</p>
                </div>
                <div class="home_work_cont_right">
                    <img src="{{item.uhead==''?'assets/logo/logo.png':item.uhead}}" />
                    <p>{{item.uname}}</p>
                </div>
            </div>
        </div>

    </section>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!--发布按钮-->
    <ion-fab right bottom edge #327eff>
        <button ion-fab><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
            <button (click)="sendQus()" ion-fab><ion-icon name="help"></ion-icon></button>
            <button (click)="sendchart()" ion-fab><ion-icon name="images"></ion-icon></button>
            <button (click)="sendWork()" ion-fab><ion-icon name="clipboard"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>