<ion-header>

	<ion-toolbar>
		
		<ion-segment [(ngModel)]="pet">
			<ion-segment-button value="new">
				厨房问答
			</ion-segment-button>
			<ion-segment-button value="hot">
				厨房新的
			</ion-segment-button>
			<ion-segment-button value="new2">
				厨房作品
			</ion-segment-button>
		</ion-segment>


		<ion-buttons left>
      <button (click)="sendWork()">
        <ion-icon name="md-clipboard"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="presentPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>

	</ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="pet">

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content>
		</ion-refresher-content>
	</ion-refresher>

	<ion-list *ngSwitchCase="'new'">
		<ion-card *ngFor="let data of question">
			<ion-item>
				<ion-avatar item-left>
					<img [src]="data.img">
				</ion-avatar>
				<div (click)="pushQuestionInPage(data.qid)">
					<h2>{{ data.name }}</h2>
					<p>{{ data.qus }}</p>
				</div>
			</ion-item>
			<ion-row>

				<ion-col>
					<button primary clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{ data.comment }} Comments</div>
      </button>
				</ion-col>
				<ion-col center text-center>
					<ion-note>
						{{ data.time }}
					</ion-note>
				</ion-col>
			</ion-row>
		</ion-card>


	</ion-list>

	<ion-list *ngSwitchCase="'new2'">

		<ion-card *ngFor="let data of works">

			<ion-item>
				<ion-avatar item-left>
					<img [src]="data.head">
				</ion-avatar>
				<h2>{{ data.name }}</h2>
				<p>{{ data.dec }}</p>
			</ion-item>

			<img [src]="data.img">

			<ion-card-content>
				<p>{{ data.say }}</p>
			</ion-card-content>

			<ion-row>
				<ion-col>
					<button primary clear small>
			        		<ion-icon name="thumbs-up"></ion-icon>
			        		<div>{{ data.like }} Likes</div>
			      	</button>
				</ion-col>
				<ion-col>
					<button primary clear small>
			        		<ion-icon name="text"></ion-icon>
			        		<div>{{ data.comment }} Comments</div>
			      	</button>
				</ion-col>
				<ion-col center text-center>
					<ion-note>
						{{ data.time }}
					</ion-note>
				</ion-col>
			</ion-row>

		</ion-card>
		

	</ion-list>

	<ion-list *ngSwitchCase="'hot'">

		<ion-card *ngFor="let data of tips">

			<ion-item (click)="pushTipsInPage()">
				<ion-avatar item-left>
					<img [src]="data.head">
				</ion-avatar>
				<h2>{{ data.name }}</h2>
				<p>November 5, 1955</p>
			</ion-item>

			<ion-card-content>
				<p>{{ data.say }}</p>
			</ion-card-content>
			<img style="width: 7.5rem; height: 7.5rem; margin: 0 0.5rem 0.5rem; float: left;" src="assets/img/advance-card-bttf.png">
			<img style="width: 7.5rem; height: 7.5rem; margin: 0 0.5rem 0.5rem; float: left;" src="assets/img/advance-card-bttf.png">
			<img style="width: 7.5rem; height: 7.5rem; margin: 0 0.5rem 0.5rem; float: left;" src="assets/img/advance-card-bttf.png">
			<img style="width: 7.5rem; height: 7.5rem; margin: 0 0.5rem 0.5rem; float: left;" src="assets/img/advance-card-bttf.png">
			<ion-row>
				<ion-col>
					<button primary clear small>
			        		<ion-icon name="thumbs-up"></ion-icon>
			        		<div>{{ data.like }} Likes</div>
			      	</button>
				</ion-col>
				<ion-col>
					<button primary clear small>
			        		<ion-icon name="text"></ion-icon>
			        		<div>{{ data.comment }} Comments</div>
			      	</button>
				</ion-col>
				<ion-col center text-center>
					<ion-note>
						{{ data.time }}
					</ion-note>
				</ion-col>
			</ion-row>

		</ion-card>
		
		
		
		
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		   <ion-infinite-scroll-content></ion-infinite-scroll-content>
		 </ion-infinite-scroll>
</ion-content>