page-slides {
    background: #f1eee4;
    height: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
}